body {
  background-image: url("images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

div#databaseDisplay.database-display {
  background-color: #18817d;
  margin: 10px;
  display: flex;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  height: auto;
  border: 5px solid yellow;
  box-shadow: 1px 1px rgb(0, 0, 0);
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  align-items: center;
  padding: 10px 10px;
}

#form {
  display: flex;
  justify-content: center;
}

div#databaseDisplay.database-display div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin-inline: auto;
  padding: 10px 10px;
  color: yellow;
  border: 1px solid rgb(0, 0, 0);
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(184, 11, 155);
}

p {
  color: yellow;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

input {
  height: 50px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#button {
  display: flex;
  border: 4px solid rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: greenyellow;
}

#button:hover {
  background-color: #18ca1e;
}

#button:active {
  background-color: #18ca1e;
  transform: translateY(4px);
}
